.footer-container {
    background-color: #1f2833;
    padding: 8rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    margin-bottom: 36px;
    padding: 24px;
    color: #ffffff;
}
  
.footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
    color: #ffffff;
}
  
.footer-subscription-text {
    margin-bottom: 16px;
    font-size: 20px;
    color: #c5c6c7;
}
  
.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
  
.footer-link-wrapper {
    display: flex;
}
  
.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    text-align: left;
    width: 180px;
    box-sizing: border-box;
}
  
.footer-link-items h2 {
    margin-bottom: 16px;
}
  
.footer-link-items > h2 {
    color: #fff;
}
  
.footer-link-items a {
    color: #c5c6c7;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
  
.footer-link-items a:hover {
    color: #66fcf1;
    transition: 0.3s ease-out;
}
  
/* Social Icons */
.social-icon-link {
    color: #66fcf1;
    font-size: 24px;
}
  
.social-media {
    max-width: 1000px;
    width: 100%;
}
  
.social-media-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
  
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
  
.social-logo {
    color: #66fcf1;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
  
@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }
  
    .footer-input {
        width: 100%;
    }
    
    .btn {
        width: 100%;
    }
    
    .footer-link-wrapper {
        flex-direction: column;
    }
    
    .social-media-wrap {
        flex-direction: column;
    }
}
  
@media screen and (max-width: 768px) {
}