.parent {
    height: 40px;
    white-space: nowrap;
    overflow: hidden; 
    font-size: 28px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
  }
  
  .border {
    border-bottom: solid 3px rgba(0,255,0,.75);
    position: absolute;
    right: -7px;
    width: 20px;
  }
  
  /* Animation */
  .parent {
    animation: animated-text 4s steps(10,end) 1s 1 normal both
  }
  
  .border {
    animation: animated-cursor 600ms steps(30,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 155px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-bottom-color: rgba(0,255,0,.75);}
    to{border-bottom-color: transparent;}
  }