.parent {
    height: 40px;
    width: 29ch;
    white-space: nowrap;
    overflow: hidden; 
    font-size: 28px;
    color: #66fcf1;
    position: relative;
  }
  
  .border {
    border-bottom: solid 3px #66fcf1;
    position: absolute;
    right: -7px;
    width: 20px;
  }
  
  /* Animation */
  .parent {
    animation: animated-text 4s steps(10,end) 1s 1 normal both
  }
  
  .border {
    animation: animated-cursor .75s step-end infinite;
  }
  
  /* text animation */
  @keyframes animated-text{
    from {
      width: 0
    }
  }
  
  /* cursor animation */
  @keyframes animated-cursor{
    50% {
      border-color: transparent
    }
  }